<input type="@type" autocomplete="off" class="@Class" placeholder="Ingresa tu contraseña" id="password-input" @bind:get="BindingValue" @bind:set="SetAsync">
<button @onclick="OnClicked" class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" >
    <i class="ri-eye-fill align-middle"></i>
</button>

@code {
    [Parameter]
    public string BindingValue { get; set; }

    [Parameter]
    public EventCallback<string> BindingValueChanged { get; set; }

    [Parameter]
    public string Class { get; set; } = "form-control pe-5 password-input";

    async Task SetAsync(string value) => await BindingValueChanged.InvokeAsync(value);

    private string type = "password";

    private void OnClicked()
    {
        if (type == "password") type = "text";
        else type = "password";
    }
}
