@page "/"

@using PlantillaBlazor.Web.Components.Layout.Tienda

@layout TiendaLayout

<div class="banner-principal">
    <div class="card-descuentos">
        <img src="https://static.nationalgeographicla.com/files/styles/image_3200/public/banana_from_maracaibo.webp?w=1600&h=1117">

        <span>Descuentos del día</span>
    </div>
</div>
<div class="container-categorias">
    <h3>Categorías</h3>
    <div class="container-categorias__cards">
        <a href="#">
            <div class="categoria-card">
                <div class="categoria-card__img">
                    <img src="https://cdn-icons-png.flaticon.com/512/3082/3082061.png">
                </div>
                <h3>Verduras</h3>
            </div>
        </a>

        <a href="#">
            <div class="categoria-card">
                <div class="categoria-card__img">
                    <img src="https://cdn-icons-png.flaticon.com/512/3082/3082025.png">
                </div>
                <h3>Frutas</h3>
            </div>
        </a>
        <a href="#">
            <div class="categoria-card">
                <div class="categoria-card__img">
                    <img src="https://cdn-icons-png.flaticon.com/512/2674/2674486.png">
                </div>
                <h3>Lácteos</h3>
            </div>
        </a>

    </div>
</div>
<div class="container-categorias">
    <h3>Recomendado</h3>
    <div class="container-categorias__cards recomendado">
        <a href="#">
            <div class="recomendado-card">
                <div class="recomendado-card__img">
                    <img src="https://www.recetasnestle.com.mx/sites/default/files/inline-images/tipos-de-limones-verdes-cortados.jpg.jpg">
                </div>
            </div>
        </a>
        <a href="#">
            <div class="recomendado-card">
                <div class="recomendado-card__img">
                    <img src="https://drvegan.com/cdn/shop/files/carrots_v2.jpg?v=1709082965&width=1200">
                </div>
            </div>
        </a>
        <a href="#">
            <div class="recomendado-card">
                <div class="recomendado-card__img">
                    <img src="https://imagenes.20minutos.es/files/image_990_556/uploads/imagenes/2022/07/22/huevos.jpeg">
                </div>
            </div>
        </a>
        <a href="#">
            <div class="recomendado-card">
                <div class="recomendado-card__img">
                    <img src="https://www.finedininglovers.com/es/sites/g/files/xknfdk1706/files/styles/article_1200_800_fallback/public/2022-04/fresas%C2%A9iStock.jpg?itok=iBcd_HLd">
                </div>
            </div>
        </a>
        <a href="#">
            <div class="recomendado-card">
                <div class="recomendado-card__img">
                    <img src="https://www.recetasnestle.com.mx/sites/default/files/inline-images/tipos-de-limones-verdes-cortados.jpg.jpg">
                </div>
            </div>
        </a>
        <a href="#">
            <div class="recomendado-card">
                <div class="recomendado-card__img">
                    <img src="https://drvegan.com/cdn/shop/files/carrots_v2.jpg?v=1709082965&width=1200">
                </div>
            </div>
        </a>
        <a href="#">
            <div class="recomendado-card">
                <div class="recomendado-card__img">
                    <img src="https://imagenes.20minutos.es/files/image_990_556/uploads/imagenes/2022/07/22/huevos.jpeg">
                </div>
            </div>
        </a>
        <a href="#">
            <div class="recomendado-card">
                <div class="recomendado-card__img">
                    <img src="https://www.finedininglovers.com/es/sites/g/files/xknfdk1706/files/styles/article_1200_800_fallback/public/2022-04/fresas%C2%A9iStock.jpg?itok=iBcd_HLd">
                </div>
            </div>
        </a>
    </div>
</div>

@code {

}
