@page "/carrito"

@attribute [PageInfo(Perfilable = false)]

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Carrito de compras</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Gaia</a></li>
                    <li class="breadcrumb-item active">Productos</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row mb-3">
    <div class="col-xl-8">
        <div class="row align-items-center gy-3 mb-3">
            <div class="col-sm">
                <div>
                    <h5 class="fs-14 mb-0">Tu carrito (03 productos)</h5>
                </div>
            </div>
            <div class="col-sm-auto">
                <a href="/Home" class="link-primary text-decoration-underline">Seguir comprando</a>
            </div>
        </div>

        <div class="card product">
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-sm-auto">
                        <div class="avatar-lg bg-light rounded p-1">
                            <img src="https://mercaldas.vtexassets.com/arquivos/ids/230444/Aguacate-hass-un_123077.jpg?v=637840781617030000" alt="" class="img-fluid d-block">
                        </div>
                    </div>
                    <div class="col-sm">
                        <h5 class="fs-14 text-truncate"><a href="/Home" class="text-body">Aguacate</a></h5>
                        

                        <div class="input-step">
                            <button type="button" class="minus">–</button>
                            <input type="number" class="product-quantity" value="2" min="0" max="100">
                            <button type="button" class="plus">+</button>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="text-lg-end">
                            <p class="text-muted mb-1">Valor:</p>
                            <h5 class="fs-14">$<span id="ticket_price" class="product-price">2.000</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-footer">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <div class="d-flex flex-wrap my-n1">
                            <div>
                                <a href="#" class="d-block text-body p-1 px-2" data-bs-toggle="modal" data-bs-target="#EliminarItemModal"><i class="ri-delete-bin-fill text-muted align-bottom me-1"></i> Eliminar</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex align-items-center gap-2 text-muted">
                            <div>Total :</div>
                            <h5 class="fs-14 mb-0">$<span class="product-line-price">6.000</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card footer -->
        </div>
        <!-- end card -->

        <div class="card product">
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-sm-auto">
                        <div class="avatar-lg bg-light rounded p-1">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe2kS5KTJqHvC9KQjVwFXsTL8PTJryKhSB4g&s" alt="" class="img-fluid d-block">
                        </div>
                    </div>
                    <div class="col-sm">
                        <h5 class="fs-14 text-truncate"><a href="/Home" class="text-body">Fresas</a></h5>

                        

                        <div class="input-step">
                            <button type="button" class="minus">–</button>
                            <input type="number" class="product-quantity" value="1" min="0" max="100">
                            <button type="button" class="plus">+</button>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="text-lg-end">
                            <p class="text-muted mb-1">Valor:</p>
                            <h5 class="fs-14">$<span class="product-price">3.000</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-footer">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <div class="d-flex flex-wrap my-n1">
                            <div>
                                <a href="#" class="d-block text-body p-1 px-2" data-bs-toggle="modal" data-bs-target="#EliminarItemModal"><i class="ri-delete-bin-fill text-muted align-bottom me-1"></i> Eliminar</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex align-items-center gap-2 text-muted">
                            <div>Total :</div>
                            <h5 class="fs-14 mb-0">$<span class="product-line-price">3.000</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card footer -->
        </div>
        <!-- end card -->

        <div class="card product">
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-sm-auto">
                        <div class="avatar-lg bg-light rounded p-1">
                            <img src="https://news.umiamihealth.org/wp-content/uploads/2022/12/GettyImages_mangoes_1800px_463651383.jpg" alt="" class="img-fluid d-block">
                        </div>
                    </div>
                    <div class="col-sm">
                        <h5 class="fs-14 text-truncate"><a href="ecommerce-product-detail.html" class="text-body">Mango</a></h5>

                        

                        <div class="input-step">
                            <button type="button" class="minus">–</button>
                            <input type="number" class="product-quantity" value="1" min="0" max="100">
                            <button type="button" class="plus">+</button>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="text-lg-end">
                            <p class="text-muted mb-1">Valor:</p>
                            <h5 class="fs-14">$<span class="product-price">3.000</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card body -->
            <div class="card-footer">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <div class="d-flex flex-wrap my-n1">
                            <div>
                                <a href="#" class="d-block text-body p-1 px-2" data-bs-toggle="modal" data-bs-target="#EliminarItemModal"><i class="ri-delete-bin-fill text-muted align-bottom me-1"></i> Eliminar</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex align-items-center gap-2 text-muted">
                            <div>Total :</div>
                            <h5 class="fs-14 mb-0">$<span class="product-line-price">3.000</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card footer -->
        </div>
        <!-- end card -->


        <div class="text-end mb-4">
            <a href="#" class="btn btn-success btn-label right ms-auto"><i class="ri-arrow-right-line label-icon align-bottom fs-16 ms-2"></i> Ir a pagar</a>
        </div>
    </div>
    <!-- end col -->

    <div class="col-xl-4">
        <div class="sticky-side-div">
            <div class="card">
                <div class="card-header border-bottom-dashed">
                    <h5 class="card-title mb-0">Resumen del pedido</h5>
                </div>

                <div class="card-body pt-2">
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <td>Sub Total :</td>
                                    <td class="text-end" id="cart-subtotal">$ 11.000</td>
                                </tr>

                                <tr>
                                    <td>IVA :</td>
                                    <td class="text-end" id="cart-shipping">$ 10.000</td>
                                </tr>
                                <tr class="table-active">
                                    <th>Total (COP) :</th>
                                    <td class="text-end">
                                        <span class="fw-semibold" id="cart-total">
                                            $21.000
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>


        </div>
        <!-- end stickey -->

    </div>
</div>
<!-- end row -->

@code {

}
