<div class="disconnected-alert">
    <div class="popup">
        <div class="icon"><i class=""></i></div>
        <div class="details">
            <h2 class="title"></h2>
            <p class="desc"></p>
            @* <button class="reconnect">Reconnect Now</button> *@
        </div>
    </div>
</div>
